$fonticon-path: "../webfonts/fonticon/" !default;

@font-face {
  font-family: 'fonticon';
  src: url($fonticon-path + 'fonticon.eot?-9iu2z6');
  src: url($fonticon-path + 'fonticon.eot?#iefixe-9iu2z6') format('embedded-opentype'),
    url($fonticon-path + 'fonticon.woff?-9iu2z6') format('woff'),
    url($fonticon-path + 'fonticon.ttf?-9iu2z6') format('truetype'),
    url($fonticon-path + 'fonticon.svg?-9iu2z6#fonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'fonticon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before        {content: "\e900";}
.icon-external:before        {content: "\e901";}
