// button-block

.btn-block {
  display: block;
  width: 100%;

  // espacer verticalement les boutons pleine largeur qui se suivent
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Surcharges pour les inputs boutons
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
